<div class= "page-header">
  <div class="pull-right">
    <%= link_to 'Edit', edit_person_path(@person), class: 'btn btn-info' %>
  </div>
  <h1> <%= @person.full_name %> </h1>
</div>

<h1>Assignments</h1>
<%= link_to '+ Add Location', new_person_assignment_path(@person) %>
